/* Setting up some root colors */
:root {
	--c-gray-900: #221f1f;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;

	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

.layout {
  width: 1500px;
  height: 250px;

  display: grid;
  grid:
    "Login Register" 0px
    / 0.2fr 320px;
  gap: 1px 10px;

  justify-content: center;
  align-content: space-around;
  position:relative;
}

.background_image {
  background-image: url("/public/tickitPro_logo.png");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}


.profile{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 100px;
}


table{
  border-collapse: collapse;
  width: 1200px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
  color: #221f1f;
}

th {
  background-color: #04AA6D;
  color: white;
}

.tableButton{
  background-color: rgb(8, 49, 77);
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:fit-content;
  justify-content: center;
  align-content: space-around;
  overflow: auto;
  border-radius: 12px
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(236, 232, 232);
  box-sizing: border-box;
  justify-content: center;
  align-content: space-around;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}


textarea{
  width: 25%;
  height: 50%;
  margin: 8px 20px;
  border:black;
  box-sizing: border-box;
  overflow:scroll;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(22, 21, 21);
  border-radius: 4px;
  padding: auto;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-content: space-around;
  overflow: auto;
}

.navbarButtons{
  background-color: #04AA6D;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:fit-content;
  justify-content: center;
  align-content: space-around;
  overflow: auto;
}

nav #navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  border-right: solid;
}

button:hover {
  opacity: 0.8;
}


img.profile {
  width: 100px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

label{
  color: var(--c-text-tertiary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
  border-radius: 25px;
}

li a {
  display: block;
  color: rgb(179, 173, 173);
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid rgb(107, 104, 104);
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: rgb(8, 49, 77);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


body {
  margin: 0;
  background-color: #474646;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	justify-content: center;
}

p {
  color: var(--c-text-tertiary);
  font-size: 0.875rem;
}

h1 {
  display: flex;
  flex-direction: column;
  line-height: 1.375;
  margin-left: 0.5rem;
  color: #f1f1f1;
  margin: 12px;
  padding: 12px;
  background-color: rgb(8, 49, 77);
}

